---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">Originally Posted On : <i class="fa fa-calendar space-right"></i> {{ page.date | date_to_string }}</span>
  {% if page.last_updated %}
  <span class="post-date"> Last Updated : <i class="fa fa-calendar space-right"></i>  {{ page.last_updated | date_to_string  }}</span>
  {% endif %}  {{ content }}
</div>

<hr>
<h2>Tagged Under</h2>
<br>
{% for tag in page.tags %}
<p><i class="fa fa-tags" aria-hidden="true"></i> <a href="/tags#{{ tag }}" class="tag">{{ tag }}</a>
</p>
{% endfor %}
